@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0068ef;
  --secondary: #003c8a;
  --paragraph: #727272;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply text-base text-paragraph;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    @apply hidden;
  }

  blockquote {
    @apply my-6 mx-5 sm:mx-10 pl-3 md:pl-5 font-semibold leading-relaxed text-heading relative before:content-[''] before:absolute before:top-0 before:left-0 before:bg-primary before:w-1 before:h-full;
  }
}

@layer components {
  .cat-list .group:hover + .group {
    border-color: #121212;
  }
}

@layer utilities {
  .section-space {
    @apply py-15 lg:py-[90px];
  }
  .section-t-space {
    @apply pt-15 lg:pt-[90px];
  }
  .section-b-space {
    @apply pb-15 lg:pb-[90px];
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: revert-layer !important;
  }

  .text-stroke {
    color: rgba(255, 255, 255, 0.40);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9E9E9E;
  }
  .text-stroke-gradient {
    color: rgba(255, 255, 255, 0.70);
    background: linear-gradient(90deg, #4850FF 0%, #EE7110 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    text-shadow: 3px 3px 4px rgba(25, 34, 251, 0.34);;
  }
  /* .text-stroke-gradient {
    background: linear-gradient(90deg, #4850FF 0%, #EE7110 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: rgba(255, 255, 255, 0.20);
  } */
   .last-two-no-border {
    &:nth-last-child(1),
    &:nth-last-child(2){
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
   }
   .form-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }
}